body {
  background: #000000;
}

.weather-block {
  background: #000000;
  box-shadow: 0 0 20px 20px #fff, 0 0 20px 20px #f0f, 0 0 160px 50px #000000;
  border-radius: 20px;
  margin: 20px auto;
  margin-top: 120px;
  max-width: 450px;
  padding: 20px;
  padding-bottom: 5px;
  top: 0;
}

.input-group-prepend {
  max-width: 400px;
  padding-top: 0px;
  padding-bottom: 15px;
}

.current-city {
  color: #ffffff;
  text-shadow: 0px 10px 10px #0779e4;
  font-family: "Lobster", cursive;
  font-size: 40px;
  font-weight: 700;
  padding-right: 50px;
}

.current-wind,
.current-humidity {
  color: #ffffff;
  text-shadow: 0px 5px 10px #0779e4;
  font-family: "Lobster", cursive;
  font-size: 16px;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 50px;
}

.current-temp {
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-top: 10px;
  text-align: center;
  border-right: 2px solid #ffffff;
}

.current-hi,
.current-lo {
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-size: 16px;
  padding-left: 5px;
  font-weight: 200;
  text-align: center;
}

#current-icon {
  display: block;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  margin-top: -8px;
}

.current-desc {
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.current-weather {
  padding-bottom: 40px;
}

.weather-forecast {
  text-align: center;
  display: block;
  font-family: "Lobster", cursive;
  margin: 0 auto;
  border: 0px;
  padding: 0px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.day-title {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

#icon-forecast {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.forecast-hilow {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

#day1-icon,
#day2-icon,
#day3-icon,
#day4-icon,
#day5-icon {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  padding: 0px;
}

.scale-change {
  font-family: "Lobster", cursive;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

.scale-change .active {
  color: gray;
}

.scale-change .active:hover {
  text-decoration: none;
}

#time,
#last-refreshed {
  color: #ffffff;
  display: block;
  font-family: "Lobster", cursive;
  font-size: 12px;
  padding-bottom: 0px;
  text-align: center;
}

#footer {
  color: #6c757d;
  font-size: 10px;
  padding-top: 30px;
  text-align: center;
}
